// title ====================================================================================================//

.title {
	font-family: $corm;
	@include adaptiveValue("font-size", 100, 40);
	text-transform: uppercase;
	line-height: 120%; /* 120/100 */
	letter-spacing: 0.02em;
}

// menu-sub-title ====================================================================================================//

.menu-sub-title {
	text-transform: uppercase;
	line-height: 150%; /* 21/14 */
	color: $green;
	transition: all 0.3s ease 0s;
	letter-spacing: 0.1em;
	&__link {
		&:hover {
			color: #53ffd5;
			text-decoration: underline;
		}
	}
}

//  ====================================================================================================//
// sub-title-green ====================================================================================================//

.sub-title-green {
	font-weight: 700;
	@include adaptiveValue("font-size", 30, 22);
	line-height: 146.666667%; /* 44/30 */
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: $green;
}

// menu-text ====================================================================================================//
.menu-text {
	font-weight: 300;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 150%;
	letter-spacing: 0.1em;
}

// text ====================================================================================================//
.text {
	&_l {
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 0.04em;
		line-height: 150%; /* 18/12 */
		font-size: 12px;
	}
	&_t {
		line-height: 150%; /* 30/20 */
		@include adaptiveValue("font-size", 20, 16);
		letter-spacing: 0.02em;
	}
	
	&_f {
		font-size: 14px;
		letter-spacing: 0.56px;
		text-transform: uppercase;
		line-height: 150%;
	}
}

// link-pink ====================================================================================================//

.link-pink{
	font-weight: 700;
	font-size: 12px;
	line-height: 150%; /* 18/12 */
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: $pink;
	display: block;
	&:hover{
		text-decoration: underline;
	}
}


//  ====================================================================================================//
// button ====================================================================================================//

.button {
	display: block;
	padding: 16px 50px;
	background-color: $green;
	transition: all 0.3s ease 0s;
	color: #000;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	&:hover{
		background-color: $purple;
		color: #fff;
	}
	&:focus{
		outline: 1px solid #7D2253;
	}
	&:active{
		box-shadow: inset 0px 0px 10px #1B000E;
	}
}

// button-transparent ====================================================================================================//

.button-transparent {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	padding: 16px 76px;
	outline: 0.5px solid #FFF;
	display: inline-block;
	transition-property: background-color, color;
	transition: 0.3s ease 0s;
	&:hover{
		background-color: $green;
		color: #000;
	}
	&:focus{
		outline: 0.5px solid #43FFD2;
	}
	&:active{
		box-shadow: 0px 0px 10px 0px #01281F inset;
	}
}

// breadcrumb ====================================================================================================//

.breadcrumb__list {
	position: relative;
	z-index: 3;
	font-size: 14px;
	letter-spacing: 0.048px;
	text-transform: uppercase;
	display: flex;
	li a {
		margin-right: 30px;
		transition: all 0.3s ease 0s;
		&:hover{
			color: $green;
			text-decoration: underline;
		}
		position: relative;
		&::after{
			content: "/";
			position: absolute;
			top: 4px;
			right: -16px;
			color: #fff;
		}
	}
	@media (max-width: 767px) {
		z-index: 2;
	}
}

//  ====================================================================================================//
/*
position: relative;
&::after{
	content: '';
	position: absolute;
	bottom: 50px;
	right: -100px;
	width: 250px;
	height: 180px;
	background: $green;
	filter: blur(125px);
	transform: rotate(32.83deg);
}
*/
//  ====================================================================================================//
