/*
// Burger (**==MW==**) ====================================================================================================//

// Запрещаем скролл основного контента при открытом бургере
body._lock {
	overflow: hidden;
}
// Прячем бургер на больших экранах
.menu__icon {
	display: none;
}

@media (max-width: $mobile) {
	.menu__icon {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
	// Три полоски
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2); //10%
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1)); //transform: scale(1) translate(0px -50%);
		}
	}

	.menu__icon._active {
		span {
			width: 0;
		}
		&::before,
		&::after {
		}
		&::before {
			top: calc(50% - rem(1));
			transform: rotate(-45deg);
		}
		&::after {
			bottom: calc(50% - rem(1));
			transform: rotate(45deg);
		}
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto; // Добавляем скролл

		// Рисуем шапку
		&::before {
			content: '';
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			height: 70px; // Высота шапки
			background-color: #912105;
			z-index: 2;
		}
	}

	// Выезд меню-бургера при нажатии на бургер
	.menu__body._active {
		left: 0;
	}
}
*/
//  ====================================================================================================//

.header {
background-color: #000;

	&__container {
	}

	&__menu {
		display: flex;
		align-items: center;
	}
}

.header-top {
	max-width: 857px;
}

.menu {

	&__logo {
		margin-right: 50px;
		path {
			transition: all 0.5s ease 0s;
		}
		&:hover path {
			fill: $green;
		}
	}

	&__body {
	}
	
	&__list {
		display: flex;
		li{
			&:not(:last-child){
				padding-right: 50px;
				@include adaptiveValue("padding-right", 50, 25, 1108, 767, 1);
			}
		}
	}

	&__form {
		display: flex;
		align-items: center;
		gap: 5px;
		input{
			background-color: transparent;
			//padding: 4px;
			padding: 1px 5px 5px 5px;
			height: 22px;
			width: 80px;
			color: #fff;
			font-size: 12px;
			&::placeholder {
				color: #fff;
				font-size: 18px;
				font-weight: 300;
			}
			&:focus{
				//outline: red;
				outline: 1px solid $green;
				border-radius: 5px;
			}
		}
		button {
			path {
				transition: all 0.3s ease 0s;
			}
			&:hover {
				path {
					fill: $green;
				}
			}
		}
	}

	&__icon {
	}
}

.menu-link {
	line-height: 150%; /* 21/14 */
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	
	&:hover {
		text-decoration: underline;
		color: $green;
	}
}
.header-right {
}
