
// Burger (**==MW==**) ====================================================================================================//

// Запрещаем скролл основного контента при открытом бургере
body._lock {
	overflow: hidden;
}
// Прячем бургер на больших экранах
.menu__icon {
	display: none;
}

@media (max-width: $mobile) {
	.menu__icon {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
	// Три полоски
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2); //10%
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1)); //transform: scale(1) translate(0px -50%);
		}
	}

	.menu__icon._active {
		span {
			width: 0;
		}
		&::before,
		&::after {
		}
		&::before {
			top: calc(50% - rem(1));
			transform: rotate(-45deg);
		}
		&::after {
			bottom: calc(50% - rem(1));
			transform: rotate(45deg);
		}
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		//background-color: rgba(0, 0, 0, 0.9);
		background-color: #000;
		padding: 60px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto; // Добавляем скролл

		// Рисуем шапку
		&::before {
			content: '';
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			height: 50px; // Высота шапки
			background-color: #000;
			z-index: 2;
		}
	}

	// Выезд меню-бургера при нажатии на бургер
	.menu__body._active {
		left: -60px;
	}
}

//  ====================================================================================================//

.header {
	//display: none;
	background-color: transparent;
	position: fixed;
	width: 100%;
	z-index: 3;


	&__container {
		display: flex;
		gap: 15px;
		justify-content: space-between;
	}

	&__menu {
		display: flex;
		align-items: center;
		@media (max-width: 767px) {
			justify-content: space-between;
			height: 50px;
		}
	}
}

.main-logo {
	display: none;
	position: relative;
	z-index: 5;
	@media (max-width: 767px) {
		font-family: $corm;
		display: block;
		width: 100px;
		font-weight: 300;
		font-size: 20px;
		letter-spacing: 0.2em;
		line-height: 100%;
		text-transform: uppercase;
		text-align: center;
	}
}

.header-top {
	max-width: 857px;
	@media (max-width: 767px) {
		width: 100%;
	}
}

.menu {

	&__logo {
		@include adaptiveValue("margin-right", 50, 30, 1108, 767, 2);
		img {
			max-width: 100%;
		}
		path {
			transition: all 0.5s ease 0s;
		}
		&:hover path {
			fill: $green;
		}
	}

	&__body {
	}
	
	&__list {
		display: flex;
		align-items: center;
		letter-spacing: 0.04em;
		@include adaptiveValue("font-size", 14, 12, 1108, 767, 2);
		li{
			&:not(:last-child){
				@include adaptiveValue("padding-right", 50, 20, 1108, 767, 1);
			}
			&:nth-child(7){
				padding: 0;
			}
			&:nth-child(6){
				padding: 0;
			}
			&:nth-child(8){
				display: none;
				padding: 0;
			}
			&:nth-child(9){
				display: none;
				padding: 0;
			}
		}
		@media (max-width: 767px) {
			display: block;
			margin-left: 50px;
			//text-align: center;
			li {
				font-size: 20px;
				margin-bottom: 10px;
				//color: $green;
			}
		}
	}

	.menu-link_m {
		display: none;
		@media (max-width: 767px) {
			display: block;
			position: relative;
			margin-bottom: 25px;
			&::after{
				content: '';
				position: absolute;
				bottom: -10px;
				left: 0;
				height: 1px;
				width: 100px;
				background-color: #fff;
			}
		}
	}

	&__form {
		display: flex;
		align-items: center;
		gap: 5px;
		input{
			text-align: left;
			background-color: transparent;
			//padding: 4px;
			padding: 1px 5px 5px 5px;
			height: 22px;
			width: 80px;
			color: #fff;
			font-size: 12px;
			&::placeholder {
				color: #fff;
				font-size: 18px;
				font-weight: 300;
			}
			&:focus{
				//outline: red;
				outline: 1px solid $green;
				border-radius: 5px;
			}
		}
		button {
			path {
				transition: all 0.3s ease 0s;
			}
			&:hover {
				path {
					fill: $green;
				}
			}
		}
		@media (max-width: 767px) {
			margin-bottom: 15px;
			svg {
				width: 30px;
				height: 30px;
			}
			input {
				height: 40px;
				width: 100%;
				font-size: 20px;
				font-weight: 300;
				letter-spacing: 0.05em;
				&::placeholder {
					color: #d4d4d4;
					opacity: 0.5;
					font-size: 25px;
					font-weight: 300;
				}
			}
		}
	}

	&__icon {
	}
}

.menu-link {
	line-height: 150%; /* 21/14 */
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	
	&:hover {
		text-decoration: underline;
		color: $green;
	}
}

// header-right ====================================================================================================//

.header-right {
	width: 200px;
	text-align: right;
	@media (max-width: 767px) {
		display: none;
	}

	&__body {
		padding-top: 20px;
	}

	&__delivery {
	}

	&__adress {
	}

	&__social {
	}

	&__call {
	}

	&__bascket {
		display: inline-block;
		position: relative;
		width: 30px;
		height: 35px;
		svg{
			width: 30px;
		}
		&_decor{
			position: relative;
				padding: 15px;
				background: rgba(0, 0, 0, 0.2);
				backdrop-filter: blur(10px);
				border-radius: 10px;
		}
	}
}

.bascket-counter{
	position: absolute;
	top: 8px;
	right: 12px;
	line-height: 150%;
	color: #000;
	z-index: 2;
	font-size: 12px;

	&::after{
		content: '';
		position: absolute;
		background-color: $green;
		top: 1px;
		right: -5px;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		z-index: -1;
	}
}

.header-right__bascket_big{
	display: inline-block;
	position: relative;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	padding: 15px;
	transition: all 0.5s ease 0s;
	&:hover{
		outline: 1px solid $green;
		background: rgba(0, 0, 0, 0.4);
	}
}
.bascket-counter_big{
	position: absolute;
	top: 12px;
	right: 14px;
	line-height: 150%;
	color: #000;
	z-index: 2;
	font-size: 12px;

	&::after{
		content: '';
		position: absolute;
		background-color: $green;
		top: 1px;
		right: -5px;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		z-index: -1;
	}
}

.delivery-block {
	padding-bottom: 25px;
	@media (max-width: 767px) {
		padding-bottom: 10px;
	}

	&__sub-title {
		display: block;
		padding-bottom: 5px;
	}

	&__text {
	}
}


.adress-block {
	padding-bottom: 60px;
	@media (max-width: 767px) {
		padding-bottom: 10px;
	}

	&__adress {
		padding-bottom: 5px;
	}

	&__schedule {
	}
}

.social {
	display: inline-block;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	padding: 20px 18px;
	margin-bottom: 180px;
	@include adaptiveValue("margin-bottom", 180, 50, 1108, 767);
	@media (max-width: 767px) {
		padding: 0;
		//margin: 0;
	}

	&__list {
		li:not(:last-child){
			padding-bottom: 20px;
		}
		@media (max-width: 767px) {
			display: flex;
			li:not(:last-child){
				padding-bottom: 0px;
				padding-right: 0;
				margin-right: 20px;
			}
			svg{
				width: 35px;
				height: 35px;
			}
		}
	}

	&__item {
		path{
			transition: all 0.3s ease 0s;
		}
		&:hover {
			path{
				fill: #00ce9b;
			}
		}
	}
}

.call-header-right {

	&__number {
		display: block;
		padding-bottom: 7px;
		@media (max-width: 767px) {
			padding-bottom: 20px;
			padding-top: 10px;
		}
		@media (min-width: 767px) {
			padding-right: 20px;
		}
	}

	&__order-call {
		display: inline-flex;
		align-items: center;
		gap: 6px;
		padding: 10px 20px;
		background: rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(10px);
		border-radius: 10px;
		margin-bottom: 35px;
		transition: all 0.3s ease 0s;
		&:hover{
			outline: 1px solid $green;
			background: rgba(0, 0, 0, 0.4);
		}
	}
}

.menu-link_contact{
	display: flex;
	align-items: center;
	gap: 6px;
	@media (max-width: 767px) {
		font-size: 18px;
	}
}

.header._header-scroll .header-right{
	display: none;
}
.header._header-scroll{
	height: 50px;
	background-color: #000;
	z-index: 4;
}
.header._header-scroll .header__menu{
	height: 50px;
}

.header._header-scroll .menu__list{
	@media (min-width: 767px) {
		li:nth-child(8){
			display: block;
			@include adaptiveValue("padding-right", 50, 20, 1108, 767, 1);
			@include adaptiveValue("padding-left", 50, 20, 1108, 767, 1);
		}
		
	}
	li:nth-child(9){
		display: block;
	}
}
.header._header-scroll .header-top{
	max-width: 100%;
}