/*
// Burger (**==MW==**) ====================================================================================================//

// Запрещаем скролл основного контента при открытом бургере
body._lock {
	overflow: hidden;
}
// Прячем бургер на больших экранах
.menu__icon {
	display: none;
}

@media (max-width: $mobile) {
	.menu__icon {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
	// Три полоски
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2); //10%
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1)); //transform: scale(1) translate(0px -50%);
		}
	}

	.menu__icon._active {
		span {
			width: 0;
		}
		&::before,
		&::after {
		}
		&::before {
			top: calc(50% - rem(1));
			transform: rotate(-45deg);
		}
		&::after {
			bottom: calc(50% - rem(1));
			transform: rotate(45deg);
		}
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto; // Добавляем скролл

		// Рисуем шапку
		&::before {
			content: '';
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			height: 70px; // Высота шапки
			background-color: #912105;
			z-index: 2;
		}
	}

	// Выезд меню-бургера при нажатии на бургер
	.menu__body._active {
		left: 0;
	}
}
*/
//  ====================================================================================================//

.header {
background-color: #000;

	&__container {
		display: flex;
		gap: 15px;
		justify-content: space-between;
		text-align-last: right;
	}

	&__menu {
		display: flex;
		align-items: center;
	}
}

.header-top {
	max-width: 857px;
}

.menu {

	&__logo {
		@include adaptiveValue("margin-right", 50, 30, 1108, 767, 2);
		path {
			transition: all 0.5s ease 0s;
		}
		&:hover path {
			fill: $green;
		}
	}

	&__body {
	}
	
	&__list {
		display: flex;
		letter-spacing: 0.04em;
		@include adaptiveValue("font-size", 14, 12, 1108, 767, 2);
		li{
			&:not(:last-child){
				@include adaptiveValue("padding-right", 50, 20, 1108, 767, 1);
			}
		}
	}

	&__form {
		display: flex;
		align-items: center;
		gap: 5px;
		input{
			text-align-last: left;
			background-color: transparent;
			//padding: 4px;
			padding: 1px 5px 5px 5px;
			height: 22px;
			width: 80px;
			color: #fff;
			font-size: 12px;
			&::placeholder {
				color: #fff;
				font-size: 18px;
				font-weight: 300;
			}
			&:focus{
				//outline: red;
				outline: 1px solid $green;
				border-radius: 5px;
			}
		}
		button {
			path {
				transition: all 0.3s ease 0s;
			}
			&:hover {
				path {
					fill: $green;
				}
			}
		}
	}

	&__icon {
	}
}

.menu-link {
	line-height: 150%; /* 21/14 */
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	
	&:hover {
		text-decoration: underline;
		color: $green;
	}
}

// header-right ====================================================================================================//

.header-right {
	width: 200px;

	&__body {
		padding-top: 20px;
	}

	&__delivery {
	}

	&__adress {
	}

	&__social {
	}

	&__call {
	}

	&__bascket {
		display: inline-block;
		padding: 15px;
		background: rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(10px);
		border-radius: 10px;
		position: relative;
		
	}
}

.bascket-counter{
	position: absolute;
	top: 13px;
	right: 8px;
	padding: 2px 4px 3px 2px;
	color: #000;
	z-index: 2;

	font-size: 12px;
	&::after{
		content: '';
		position: absolute;
		background-color: $green;
		top: 0;
		right: 0;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		z-index: -1;
	}
}
.delivery-block {
	padding-bottom: 25px;

	&__sub-title {
		display: block;
		padding-bottom: 5px;
	}

	&__text {
	}
}


.adress-block {
	padding-bottom: 60px;

	&__adress {
		padding-bottom: 5px;
	}

	&__schedule {
	}
}

.social {
	display: inline-block;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	padding: 20px 18px;
	margin-bottom: 180px;

	&__list {
		li:not(:last-child){
			padding-bottom: 20px;
		}
	}

	&__item {
		path{
			transition: all 0.3s ease 0s;
		}
		&:hover {
			path{
				fill: #00ce9b;
			}
		}
	}
}

.call-header-right {

	&__number {
		display: block;
		padding-bottom: 7px;
	}

	&__order-call {
		display: inline-flex;
		align-items: center;
		gap: 6px;
		padding: 10px 20px;
		background: rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(10px);
		border-radius: 10px;
		margin-bottom: 35px;
	}
}
