.page{	//!!!
	//background-color: #000;
	padding-bottom: 150px;
}

// main-screen ====================================================================================================//

.main-screen {
	padding-top: 130px;
	position: relative;
	//padding-bottom: 730px;
	@include adaptiveValue("padding-bottom", 730, 100, 1108, 767, 2);
	@media (max-width: 767px) {
		padding-top: 90px;
	}

	&__container {
		@media (max-width: 767px) {
			position: relative;
			display: flex;
			flex-direction: column;
			height: calc(100vh - 160px);
		}
	}

	&__title {
		font-family: $corm;
		font-weight: 300;
		@include adaptiveValue("font-size", 200, 60);
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 0.2em;
		@include adaptiveValue("padding-bottom", 20, 10);
		@media (max-width: 767px) {
			flex: 1 1 auto;
		}
	}

	&__text {
		text-align: center;
		@include adaptiveValue("padding-bottom", 45, 30);
	}

	&__button {
		margin: 0 auto;
		position: relative;
		z-index: 3;
	}

	&__image-ibg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	&__sign {
		position: absolute;
		bottom: 5%;
		right: 5%;
		@media (max-width: 767px) {
			display: none;
		}
	}
}

body._lock .main-screen__button {
	z-index: 1;
}

//  ====================================================================================================//

.catalog {
	background-color: #000;
	margin-top: -1px;
	position: relative;
	@include adaptiveValue("padding-top", 100, 50);
	@include adaptiveValue("padding-bottom", 170, 50);

	&__container {
		position: relative;
		&::after{
			position: absolute;
			content: '';
			top: 400px;
			left: -290px;
			width: 707px;
			height: 236px;
			background: #7D2253;
			filter: blur(125px);
			transform: rotate(32.83deg);
			z-index: 1;
			@media (max-width: 630px) {
				top: 630px;
				left: -200px;
			}
		}
		&::before{
			position: absolute;
			content: '';
			top: 383px;
			left: 567px;
			width: 879px;
			height: 211px;
			background: #43FFD2;
			filter: blur(125px);
			transform: rotate(32.83deg);
			z-index: 1;
			@media (max-width: 630px) {
				top: 188px;
				left: -132px;
			}
		}
	}

	&__title {
		padding-bottom: 10px;
	}

	&__body {
		display: flex;
		margin: 0px -15px;
		@media (max-width: 630px) {
			flex-wrap: wrap;
		}
	}

	&__column {
		flex: 0 1 50%;
		padding: 0px 15px;
		@media (max-width: 630px) {
			flex: 0 1 100%;
			@include adaptiveValue("margin-bottom", 40, 30);
		}
	}

	&__words-decor-ibg{
		display: none;
		user-select: none;
		@media (min-width: 767px) {
			display: block;
			position: absolute;
			top: 70px;
			left: 0;
			width: 100%;
			height: 100%;
			font-weight: 700;
			@include adaptiveValue("font-size", 200, 80);
			line-height: 100%;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			color: #0A1717;
			p:not(:last-child){
				padding-bottom: 40px;
			}
			p:nth-child(1){
				text-align: right;
				transform: translateX(15%);
			}
			p:nth-child(2){
				transform: translateX(-15%);
			}
			p:nth-child(3){
				text-align: center;
				transform: translateX(30%);
			}
		}
	}
}

.column-catalog {
	position: relative;
	z-index: 2;

	&_1 {
	}

	&_2 {
	}

	&__text-block {
		display: none;
		@media (min-width: 630px) {
			display: block;
			font-weight: 300;
			@include adaptiveValue("font-size", 20, 16);
			line-height: 130%; /* 26/20 */
			letter-spacing: 0.04em;
			p:not(:last-child){
				@include adaptiveValue("padding-bottom", 30, 20);
			}
			@include adaptiveValue("padding-bottom", 80, 40);
			transform: translateX(90px);
			@media (max-width: 1150px) {
				transform: translateX(50px);
			}
			@media (max-width: 1050px) {
				transform: translateX(0);
			}
		}
	}

	&__element {
		background: rgba(0, 0, 0, 0.2);
		//background-color: #adadad;
		backdrop-filter: blur(10px);
		border-radius: 20px;
		padding: 30px 30px 30px 50px;
	}
}

.elemen-catalog {
	@media (max-width: 630px) {
		text-align: center;
	}


	&_1 {
	}
	
	&_2 {
		@media (min-width: 630px) {
			max-width: 445px;
			margin: 0px 0px 30px auto;
		}
		@include adaptiveValue("margin-bottom", 40, 30);
	}

	&_3 {
	}

	&__title {
		padding-bottom: 10px;
	}

	&__list {
		@include adaptiveValue("font-size", 18, 16);
		line-height: 150%; /* 27/18 */
		text-transform: uppercase;
		letter-spacing: 0.04em;
		li:not(:last-child){
			padding-bottom: 4px;
		}
		@media (min-width: 630px) {
			li{
				position: relative;
				padding-left: 15px;
				&::after{
					position: absolute;
					content: '';
					top: 11px;
					left: 0;
					width: 4px;
					height: 4px;
					background-color: #fff;
					border-radius: 50%;
				}
			}
		}
		padding-bottom: 24px;
	}

	&__item {
	}

	&__link {
		font-weight: 700;
		font-size: 12px;
		line-height: 150%; /* 18/12 */
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $pink;
		text-align: right;
		display: block;
		&:hover{
			text-decoration: underline;
		}
		@media (max-width: 630px) {
			text-align: center;
		}
	}
}
