.page{	//!!!
	//background-color: #000;
	padding-bottom: 150px;
	margin-bottom: 1px;
}

// main-screen ====================================================================================================//

.main-screen {
	padding-top: 130px;
	position: relative;
	//padding-bottom: 730px;
	@include adaptiveValue("padding-bottom", 730, 100, 1108, 767, 2);
	@media (max-width: 767px) {
		padding-top: 90px;
	}

	&__container {
		@media (max-width: 767px) {
			position: relative;
			display: flex;
			flex-direction: column;
			height: calc(100vh - 160px);
		}
	}

	&__title {
		font-family: $corm;
		font-weight: 300;
		@include adaptiveValue("font-size", 200, 60);
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 0.2em;
		@include adaptiveValue("padding-bottom", 20, 10);
		@media (max-width: 767px) {
			flex: 1 1 auto;
		}
	}

	&__text {
		text-align: center;
		@include adaptiveValue("padding-bottom", 45, 30);
	}

	&__button {
		margin: 0 auto;
		position: relative;
		z-index: 3;
	}

	&__image-ibg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	&__sign {
		position: absolute;
		bottom: 5%;
		right: 5%;
		@media (max-width: 767px) {
			display: none;
		}
	}
}

body._lock .main-screen__button {
	z-index: 1;
}

//  ====================================================================================================//

.catalog {
	background-color: #000;
	margin-top: -1px;
	position: relative;
	@include adaptiveValue("padding-top", 100, 50);
	@include adaptiveValue("padding-bottom", 170, 50);

	&__container {
		position: relative;
		&::after{
			position: absolute;
			content: '';
			top: 400px;
			left: -290px;
			width: 707px;
			height: 236px;
			background: #7D2253;
			filter: blur(125px);
			transform: rotate(32.83deg);
			z-index: 1;
			@media (max-width: 630px) {
				top: 630px;
				left: -200px;
			}
		}
		&::before{
			position: absolute;
			content: '';
			top: 383px;
			left: 567px;
			width: 879px;
			height: 211px;
			background: #43FFD2;
			filter: blur(125px);
			transform: rotate(32.83deg);
			z-index: 1;
			@media (max-width: 630px) {
				top: 188px;
				left: -132px;
			}
		}
	}

	&__title {
		padding-bottom: 10px;
	}

	&__body {
		display: flex;
		margin: 0px -15px;
		@media (max-width: 630px) {
			flex-wrap: wrap;
		}
	}

	&__column {
		flex: 0 1 50%;
		padding: 0px 15px;
		@media (max-width: 630px) {
			flex: 0 1 100%;
			@include adaptiveValue("margin-bottom", 40, 30);
		}
	}

	&__words-decor-ibg{
		display: none;
		user-select: none;
		@media (min-width: 767px) {
			display: block;
			position: absolute;
			top: 70px;
			left: 0;
			width: 100%;
			height: 100%;
			font-weight: 700;
			@include adaptiveValue("font-size", 200, 80);
			line-height: 100%;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			color: #0A1717;
			p:not(:last-child){
				padding-bottom: 40px;
			}
			p:nth-child(1){
				text-align: right;
				transform: translateX(15%);
			}
			p:nth-child(2){
				transform: translateX(-15%);
			}
			p:nth-child(3){
				text-align: center;
				transform: translateX(30%);
			}
		}
	}
}

.column-catalog {
	position: relative;
	z-index: 2;

	&_1 {
	}

	&_2 {
	}

	&__text-block {
		display: none;
		@media (min-width: 630px) {
			display: block;
			font-weight: 300;
			@include adaptiveValue("font-size", 20, 16);
			line-height: 130%; /* 26/20 */
			letter-spacing: 0.04em;
			p:not(:last-child){
				@include adaptiveValue("padding-bottom", 30, 20);
			}
			@include adaptiveValue("padding-bottom", 80, 40);
			transform: translateX(90px);
			@media (max-width: 1150px) {
				transform: translateX(50px);
			}
			@media (max-width: 1050px) {
				transform: translateX(0);
			}
		}
	}

	&__element {
		background: rgba(0, 0, 0, 0.2);
		//background-color: #adadad;
		backdrop-filter: blur(10px);
		border-radius: 20px;
		padding: 30px 30px 30px 50px;
	}
}

.elemen-catalog {
	@media (max-width: 630px) {
		text-align: center;
	}


	&_1 {
	}
	
	&_2 {
		@media (min-width: 630px) {
			max-width: 445px;
			margin: 0px 0px 30px auto;
		}
		@include adaptiveValue("margin-bottom", 40, 30);
	}

	&_3 {
	}

	&__title {
		padding-bottom: 10px;
	}

	&__list {
		@include adaptiveValue("font-size", 18, 16);
		line-height: 150%; /* 27/18 */
		text-transform: uppercase;
		letter-spacing: 0.04em;
		li:not(:last-child){
			padding-bottom: 4px;
		}
		@media (min-width: 630px) {
			li{
				position: relative;
				padding-left: 15px;
				&::after{
					position: absolute;
					content: '';
					top: 11px;
					left: 0;
					width: 4px;
					height: 4px;
					background-color: #fff;
					border-radius: 50%;
				}
			}
		}
		padding-bottom: 24px;
	}

	&__item {
	}

	&__link {
		max-width: 120px;
		margin: 0px 0px 0px auto;
		@media (max-width: 630px) {
			text-align: center;
		}
	}
}

// popular ====================================================================================================//

.popular {
	position: relative;
	background-color: #000;
	margin-top: -1px;
	@include adaptiveValue("padding-bottom", 80, 60);

	&__container {
		position: relative;
		z-index: 1;
		&::after{
			position: absolute;
			content: '';
			top: 570px;
			left: 250px;
			width: 570px;
			height: 396px;
			background: #7D2253;
			filter: blur(125px);
			transform: rotate(32.83deg);
			z-index: 1;
			@media (max-width: 550px) {
				top: 60%;
				left: 0px;
			}
		}
		&::before{
			position: absolute;
			content: '';
			top: 400px;
			left: 0px;
			width: 413px;
			height: 460px;
			background: $green;
			filter: blur(125px);
			transform: rotate(32.83deg);
			z-index: 1;
			@media (max-width: 550px) {
				top: 300px;
				left: 85px;
			}
		}
	}

	&__title {
		@include adaptiveValue("padding-bottom", 30, 15);
		p:last-child{
			text-align: center;
		}
	}

	&__text {
		font-weight: 300;
		@include adaptiveValue("font-size", 20, 16);
		letter-spacing: 0.4px;
		@include adaptiveValue("padding-bottom", 86, 40);
	}

	&__content {
		z-index: 2;
		position: relative;
		margin: 0px -15px;
		@include adaptiveValue("padding-bottom", 60, 40);
		@media (max-width: 992px) {
			margin: 0px -10px;
		}
		@media (max-width: 550px) {
			margin: 0;
		}
	}

	&__item {
		padding: 0px 15px;
		@media (max-width: 992px) {
			padding: 0px 10px;
		}
		@media (max-width: 550px) {
			padding: 0;
		}
	}

	&__link {
		display: inline-block;
		position: relative;
		z-index: 1;
		&::after{
			content: '';
			position: absolute;
			width: 35%;
			height: 100%;
			background: url('@img/popular/arrow-right-pink.svg') 10px 50% no-repeat;
		}
	}

	&__bg-ibg{
		position: absolute;
		top: 26px;
		right: 0;
		width: 70%;
		height: 65%;
		@media (max-width: 550px) {
			display: none;
		}
	}
}


.item-popular {
	padding-bottom: 10px;
	@media (max-width: 550px) {
		&:not(:last-child){
			@include adaptiveValue("margin-bottom", 50, 40);
		}
		max-width: 350px;
		margin: 0 auto;
	}
	img {
		filter: grayscale(100%);
		@media (max-width: 550px) {
			filter: grayscale(0);
		}
	}

	&_1 {
		position: relative;
	}

	&_2 {
	}

	&_3 {
		position: relative;
	}

	&_4 {
		@media (max-width: 550px) {
			display: none;
		}

	}

	&__decor_new{
		font-size: 20px;
		font-weight: 300;
		letter-spacing: 0.4px;
		color: #040A0A;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0px;
		right: 15px;
		width: 60px;
		height: 60px;
		background-color: $pink;
		border-radius: 50%;
	}

	&__decor_sale{
		font-size: 20px;
		font-weight: 300;
		letter-spacing: 0.4px;
		color: #040A0A;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 1px;
		right: 15px;
		width: 60px;
		height: 60px;
		background-color: $green;
		border-radius: 50%;
	}

	&__image {
		padding-bottom: 10px;
		img {
			max-width: 100%;
		}
	}

	&__title {
		padding-bottom: 10px;
	}

	&__price {
		font-weight: 700;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		padding-bottom: 20px;
		p{
			display: inline;
			padding-left: 10px;
			font-weight: 300;
			color: #939393;
			text-decoration:line-through;
		}
	}

	&__button {
		@media (max-width: 767px) {
			padding: 0;
			height: 50px;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@media (max-width: 550px) {
			max-width: 350px;
		}
	}
}

.slick-center.item-popular{
	img {
		filter: none;
	}
}

// Slider ====================================================================================================//

///* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;	//!!! Скрыть лишние слайды
		padding: 0 !important;
}
///* Лента слайдов */
.slick-track{
	display: flex;	//!!! Выстроить в ряд
}
///* Стрелки*/
.slick-arrow{
	position: absolute;
	top: 225px;
	z-index: 2;
	font-size: 0;
	height: 15px;
	width: 80px;
	@media (max-width: 1300px) {
		display: none;
		width: 0;
		height: 0;
	}
}
///* Стрелка влево */
.slick-arrow.slick-prev{
	left: -75px;
	background: url('@img//popular/arrow-left.svg') no-repeat;
}
///* Стрелка вправо */
.slick-arrow.slick-next{
	right: -75px;
	background: url('@img//popular/arrow-right.svg') no-repeat;
}

// how-order ====================================================================================================//

.how-order {
	background-color: #000;
	margin-top: -1px;
	@include adaptiveValue("padding-top", 100, 30);
	@include adaptiveValue("padding-bottom", 160, 50);
	position: relative;

	&__container {
		@media (max-width: 767px) {
			position: relative;
			&::after{
				content: '';
				position: absolute;
				bottom: 50px;
				right: -100px;
				width: 250px;
				height: 180px;
				background: $green;
				filter: blur(125px);
				transform: rotate(32.83deg);
			}
		}
	}

	&__decor {
		position: absolute;
		top: 100px;
		left: 0;
		@media (max-width: 992px) {
			left: -100px;
		}
		@media (max-width: 767px) {
			top: -120px;
			left: -130px;
		}
		@media (max-width: 450px) {
			left: -170px;
		}
	}

	&__title {
		padding-bottom: 30px;
		position: relative;
		z-index: 1;
		@media (max-width: 767px) {
			text-align: center;
		}
	}

	&__body {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: space-between;
		padding-right: 100px;
		@include adaptiveValue("padding-right", 100, 30, 1108, 992, 1);
		gap: 30px;
		flex-wrap: wrap;
		padding-top: 40px;
		margin-left: 370px;
		position: relative;
		&::after{
			@media (min-width: 767px) {
				content: '';
				position: absolute;
				top: 10%;
				right: 10px;
				width: 1px;
				height: 90%;
				background-color: $pink;
			}
		}
		@media (max-width: 992px) {
			margin-left: 270px;
		}
		@media (max-width: 767px) {
			margin-left: 0;
			padding: 40px 0px 0px 0px;
		}
	}

	&__step {
		flex: 0 1 calc(50% - 15px);
		max-width: 250px;
		//@include adaptiveValue("margin-bottom", 40, 30);
		@media (max-width: 767px) {
			flex: 0 1 100%;
			max-width: none;
		}
	}

	&__sign {
		display: none;
	}
}

.step-how-order {

	&_1 {
		position: relative;
		&::before{
			content: '';
			position: absolute;
			top: -40px;
			left: 0;
			width: 65px;
			height: 10px;
			background-color: $pink;
		}
		@media (max-width: 767px) {
			order: 1;
			margin-left: 240px;
		}
		@media (max-width: 440px) {
			margin-left: 190px;
		}
	}
	&_2 {
		@media (max-width: 767px) {
			order: 2;
			margin-left: 150px;
		}
		@media (max-width: 440px) {
			margin-left: 100px;
		}
	}
	&_3 {
		@media (max-width: 767px) {
			order: 3;
			margin-left: 100px;
		}
		@media (max-width: 440px) {
			margin-left: 40px;
		}
	}
	&_4 {
		@media (max-width: 767px) {
			order: 4;
			margin-left: 50px;
		}
		@media (max-width: 440px) {
			margin-left: 0px;
		}
	}
	&_5 {
		@media (max-width: 767px) {
			order: 5;
		}
	}

	&__title {
		color: $pink;
		padding-bottom: 12px;
	}

	&_text {
		
	}
}
